In [1]:
#list, tuple, set, dictionaries

In [9]:
# tuple 
t = (1, 2, 2, 3, 4.5, 5.5, 6.5, "Seven", "Eight", "Nine")

In [3]:
t

(1, 2, 3, 4.5, 5.5, 6.5, 'Seven', 'Eight', 'Nine')

In [4]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [5]:
t[0]

1

In [6]:
t[2:5]

(3, 4.5, 5.5)

In [7]:
t.index(4.5)

3

In [10]:
t.count(2)

2

In [20]:
# set
s = {1, 2, 3, 4, 5, "six", "seven", "eight"}
type(s)

set

In [21]:
s

{1, 2, 3, 4, 5, 'eight', 'seven', 'six'}

In [25]:
s = {1, 2, 3, 4, 5, "six", "seven", "eight", 2, 3, 4, 2, 2, 3, 3, 2, 2, 2, 2}
s

{1, 2, 3, 4, 5, 'eight', 'seven', 'six'}

In [26]:
s[0]

TypeError: 'set' object is not subscriptable

In [27]:
s[0] = 100

TypeError: 'set' object does not support item assignment

In [54]:
# dictionary => key value pair
d = {"key1":"value1", "name":"Sahin alom", "age":32}
d

{'key1': 'value1', 'name': 'Sahin alom', 'age': 32}

In [32]:
d['key1'] = "Another Value"

In [33]:
d['key1']

'Another Value'

In [30]:
d['name']

'Sahin alom'

In [34]:
d['name'] = "Mostofa Kamal"
d['name']

'Mostofa Kamal'

In [35]:
d

{'key1': 'Another Value', 'name': 'Mostofa Kamal', 'age': 32}

In [36]:
l = [1, 2, 3, 4, 6]

In [37]:
for i in l:
    print(i)

1
2
3
4
6

In [40]:
for i,j in d.items():
    print(i,":", j)

key1 : Another Value
name : Mostofa Kamal
age : 32

In [41]:
d.values()

dict_values(['Another Value', 'Mostofa Kamal', 32])

In [42]:
d.keys()

dict_keys(['key1', 'name', 'age'])

In [43]:
d = {1:2, 2:3, 3:4}

In [56]:
d2 = {i:i**2 for i in range(1, 10)}

In [55]:
{i:j for (i, j) in d.items()}

{'key1': 'value1', 'name': 'Sahin alom', 'age': 32}

In [57]:
d2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [81]:
from collections import defaultdict
l1 = [1, 2, 3, 4, 5, 6]
l2 = ["A", "b", "c", "d", "e", "f"]

In [82]:
t = defaultdict(list)

In [83]:
for e in l1:
    t[e[l1].extend(e[l2])]

TypeError: 'int' object is not subscriptable

In [80]:
{m:m for  in l1}

{'A': 'A', 'b': 'b', 'c': 'c', 'd': 'd', 'e': 'e', 'f': 'f'}

In [64]:
for i in l1:
    print(i)

1
2
3
4
5
6

In [65]:
for i in l2:
    print(i)

A
b
c
d
e
f

In [69]:
for i in d.keys():
    print(i)

key1
name
age

In [84]:
d1 = {1:10, 2:20}
d2 = {1:10, 2:20, 3:30}
d3 = {}
for d in (d1, d2):
    d3.update(d)
d3

{1: 10, 2: 20, 3: 30}

In [86]:
d = {"d1": {1:10, 2:20, 3:30},
    "d2" : {4:40, 5:50, 6:60},
    "d3": {7:70, 8:80, 9:90}}

In [87]:
d

{'d1': {1: 10, 2: 20, 3: 30},
 'd2': {4: 40, 5: 50, 6: 60},
 'd3': {7: 70, 8: 80, 9: 90}}

In [88]:
d['d1']

{1: 10, 2: 20, 3: 30}

In [91]:
d['d1'][4]

KeyError: 4

In [92]:
l1

[1, 2, 3, 4, 5, 6]

In [94]:
t = tuple(l1)

In [95]:
t

(1, 2, 3, 4, 5, 6)

In [96]:
s = set(t)

In [97]:
s

{1, 2, 3, 4, 5, 6}