In [1]:
"Welcome to Forword IT"

'Welcome to Forword IT'

In [2]:
2*2

4

# Header

In [5]:
print("Welcome")
print("Forword IT")

Welcome
Forword IT

In [14]:
# variable
number = 1000

In [15]:
number

1000

In [ ]:
# data type

In [16]:
# int, float, string

In [17]:
var_int = 100
var_float = 100.50
var_str = "This is String"
var_str_2 = 'A'

In [18]:
var_int, var_float, var_str, var_str_2

(100, 100.5, 'This is String', 'A')

In [19]:
id(var_int)

140734430397312

In [20]:
type(var_float)

float

# conditions and loops

In [6]:
# condition -> if, else, else if/elif, ==, <=, >=, !=
age = 18
if age>=18:
    print("Bank acc open")
else:
    print("Not open")

Bank acc open

In [8]:
age = 17
isStudent = True
if age>=18:
    print("Bank acc open")
else:
    if isStudent == True:
        print("Student acc")
    else:
        print("Not sutdent.")

Student acc

In [ ]:
# if else ladder
if condition 1:
    statement
else if condition 2:
    statement
else:
    statement

In [13]:
#user input
profession = input("Enter your profession: ")
if profession == "Student" or "student":
    print("Student Acc")
elif profession == "Job":
    print("Savings Acc")
elif profession == "Business":
    print("Business Acc")
else:
    print("No Acc")

Enter your profession: Business
Business Acc

In [22]:
# Nested Condition
age = int(input("Enter Age: "))

# age = int(age)
if age >= 18:
    print("Perfect age, do you have nid?")
    nid = int(input("0 : False, 1 : True"))
    if nid == 1:
        print("You are eligible for vote")
    else:
        print("You don't have nid")
else:
    print("yOur age is not perfect!")

Enter Age: 17
yOur age is not perfect!

In [23]:
# loop => for, while

for var in range(10):
    print(var)

0
1
2
3
4
5
6
7
8
9

In [33]:
for var in range(1, 11, 1):
    print(var**3)

1
8
27
64
125
216
343
512
729
1000

In [34]:
var = 0
n = 10
while var < n:
    print(var)
    # var = var+1
    var += 1

0
1
2
3
4
5
6
7
8
9

# collections/ data structure

In [35]:
# collections -> list, tuple, set, dictionary

#### list

In [36]:
l = []
type(l)

list

In [37]:
# single dimention 
l = [1, 2, 3, 4, 5, 6]
l

[1, 2, 3, 4, 5, 6]

In [46]:
# nested / multi dimention
l2 = [[1, 2, 3.5], [4, '5', 6], ['7', '8', '9']]
l2

[[1, 2, 3.5], [4, '5', 6], ['7', '8', '9']]

In [54]:
# indexing: 0 -> n-1
l2[2][0]

'7'

In [ ]:
# mutable(list, dictionary), immutable(tupel, set)

In [56]:
l[0] = 100

In [58]:
l

[100, 2, 3, 4, 5, 6]

In [59]:
l.append(7)

In [60]:
l

[100, 2, 3, 4, 5, 6, 7]

In [62]:
l.append([1, 2])

In [71]:
l.append(2)

In [63]:
l

[100, 2, 3, 4, 5, 6, 7, [1, 2]]

In [64]:
type(l)

list

In [66]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'list'>

In [72]:
l.count(2)

2

In [73]:
l.index(2)

1

In [74]:
l

[100, 2, 3, 4, 5, 6, 7, [1, 2], 2]

In [75]:
l.pop()

2

In [76]:
l

[100, 2, 3, 4, 5, 6, 7, [1, 2]]

In [77]:
l.pop()

[1, 2]

In [78]:
l

[100, 2, 3, 4, 5, 6, 7]

In [79]:
l.pop(1)

2

In [80]:
l

[100, 3, 4, 5, 6, 7]

In [81]:
l.reverse()

In [82]:
l

[7, 6, 5, 4, 3, 100]

In [83]:
l.sort()

In [84]:
l

[3, 4, 5, 6, 7, 100]

In [86]:
l.append(200)

In [87]:
l

[3, 4, 5, 6, 7, 100, 200]

In [90]:
l[0] = 300

In [91]:
l

[300, 4, 5, 6, 7, 100, 200]

In [88]:
t = (1, 2, 3, 4, 5)

In [89]:
t

(1, 2, 3, 4, 5)

In [92]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment